/* --- Universal Link Styles --- */
a,
a:visited,
a:active {
	color: #087E68;
	box-shadow: 0 1px #087E68;
	font-weight: 600;
	transition: all 200ms ease-in-out;
	text-decoration: none;
	outline: none;
}

a:hover {
	color: #087E68;
	box-shadow: 0 2px #087E68;
	transition: all 200ms ease-in-out;
}

/* --- Focus Link Styles --- */
a:focus {
	box-shadow: 0 2px !important;
}

.nav__menu--large ul.menu li a:focus {
	color: #087e68;
}

.header__search button:focus,
.logo_desktop_gae:focus,
.footer_logo_gae:focus,
.float--x-container a:focus,
.nav__icon__login:focus,
.nav__logo--large a:focus,
.nav__logo--small a:focus,
.nav__menu__item--secondary button:focus,
a.btn--login:focus,
.sb-article--right a:focus,
.sb-article--vid-box a:focus img,
.sb-article--campaign a:focus {
	outline: 1px dashed #c8ced9 !important;
	box-shadow: none !important;
}

.sb-article--vid-box a:focus .sb-article--vid-bg {
	background-color: #087e68;
}

.button--hubspot a:focus,
.header__button a:focus,
a.btn--orange-gradient:visited,
a.btn--orange-gradient:active,
a.btn--emerald-gradient:visited,
a.btn--emerald-gradient:active {
	background-position: right center;
	box-shadow: none !important;
}


/* --- Background Colors --- */
.text--white a,
.text--light-gray a,
.bg--fresh-mint a,
.bg--black-coconut a,
.bg--black a,
.bg--emerald a,
.bg--meditech-green a,
.bg--green-gradient a,
.bg--blue-gradient a,
.bg--dark-blue a,
.bg--purple a {
	color: #fff;
	box-shadow: 0 1px #fff;
}

.text--white a:hover,
.text--light-gray a:hover,
.bg--fresh-mint a,
.bg--black-coconut a:hover,
.bg--black a:hover,
.bg--emerald a:hover,
.bg--meditech-green a:hover,
.bg--green-gradient a:hover,
.bg--blue-gradient a:hover,
.bg--dark-blue a:hover,
.bg--purple a:hover {
	box-shadow: 0 2px #fff;
}


/* --- Remove Box Shadow --- */
/* General */
.no-underline a,
.pager-next a,
a.phone-number,
a.phone_gae,
.taxonomy_result_link_gae,

/* Headers */
h1 a,
.header-one a,
h2 a,
.header-two a,
h3 a,
.header-three a,
h4 a,
.header-four a,
h5 a,
.header-five a,
h6 a,
.header-six a,

/* Header */
header a,
#admin-menu a,
.contact-title a,
.nav__secondarymenu a,
.secondary-nav ul li a,
.nav__menu--large a,
.nav__logo--small a,
.container__left a,
.header__button a,
.logo_M_gae,
.accordion__list__item a,

/* Footer */
footer a,

/* News */
.news__article__filters a,
.sb-article--container a,
.sb-article--campaign a,
a.btn--orange-gradient,

/* Events */
a.events_main_link_gae,

/* EHR Solutions */
.ehr-block a,

/* eBooks */
.ebooks_link_gae {
	box-shadow: none;
}

/* --- Font Weights --- */
.secondary-nav ul li a,
footer ul li a,
.ehr-block a,
.sidebar__nav a,
.nav__menu--small a,
footer .text--small a,
.sidebar--newsarticle__title a {
	font-weight: normal;
}

.nav__menu--large a {
	font-weight: 500;
}

/* --- Remove Box Shadow (!important) --- */
.btn-holder--content__callout a,
a.btn--orange,
.sidebar__nav a,
.hs-cta- a,
a.cta_button,
.float--x-container a,
.share-icons a,
.nav__menu--small a,
.nav__logo--large a,
a.btn--login:focus,
.sales_button_gae:focus,
a.footer_logo_gae,
a.nav__menu--small,
.slideoutnav ul.menu li a:focus,
.slideoutnav ul.menu li.last a:focus,
.sb-article--right a,
.sb-article--campaign a,
#admin-menu a {
	box-shadow: none !important;
}


/* --- Green Links With Underline on Hover --- */
h1 a:hover,
.header-one a:hover,
h2 a:hover,
.header-two a:hover,
h3 a:hover,
.header-three a:hover,
h4 a:hover,
.header-four a:hover,
h5 a:hover,
.header-five a:hover,
h6 a:hover,
.header-six a:hover,
.ehr-block a:hover,
.news__article__filters a:hover,
.sidebar--newsarticle__title a:hover {
	box-shadow: 0 2px #087E68;
}


/* --- Green Links With Black Text on Hover --- */
.sidebar__nav a:hover {
	color: #3e4545;
}


/* --- Share Icons --- */
.share-icons {
	margin-top: 1.5em;
}

.share-icons a i {
	transition: transform 200ms ease-in-out;
	margin-right: .15em;
	font-size: 1.25em;
}

.share-icons a:hover i,
.share-icons a:focus i {
	transform: scale(1.25);
}

/* --- Phone --- */
.phone-number,
.phone_gae,
.phone-number:hover,
.phone_gae:hover {
	color: #3e4545;
	cursor: text;
}


/* --- New Header Styles --- */
.nav__menu--large ul.menu li a {
	font-family: "montserrat", Verdana, sans-serif;
	color: #3e4545
}

.nav__menu--large ul.menu li a:hover {
	color: #087E68;
	box-shadow: 0 2px #087E68;
	transition: all 200ms ease-in-out;
}

.nav__menu--large ul.menu li a.active {
	font-weight: 600;
	color: #087E68
}

.secondary-nav ul li a:hover {
	box-shadow: 0 2px #fff;
	color: #fff;
}

a.btn--login {
	display: block;
	float: left;
	margin-left: 1.2em;
	color: #ff8300
}

a.btn--login:hover {
	color: #ff610a
}


/* --- New Button Styles --- */
.btn--orange-gradient,
input[type="submit"],
.form__search__button,
.form__search__button[type="submit"] {
	transition: all 200ms ease-in-out !important;
}

.button--hubspot,
.cta_button,
.btn--orange,
.load-more-ajax {
	transition: all 200ms ease-in-out !important;
	margin-bottom: 1em;
}

.container__right .header__button a {
	display: inline-block;
}

.cta_button p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

input[type="submit"],
.form__search__button,
.form__search__button[type="submit"],
a.btn--orange-gradient,
button.btn--orange,
button.load-more-ajax,
a.btn--orange,
.button--hubspot a,
a.cta_button,
a.btn--light-purple-rd {
	background: rgb(255,131,0);
	color: #fff;
	border-radius: 7px !important;
	border: none;
	font-size: 16px !important;
	font-weight: 700 !important;
	line-height: 1.5 !important;
	font-family: "source-sans-pro", helvetica, arial, sans-serif !important;
	display: inline-block !important;
	text-align: center !important;
	padding: 1em 1.5em;
	transition: all 300ms ease-in-out !important;
	box-shadow: none !important;
}

a[target="_blank"]:after,
a[href$=".pdf"]:after {
	display: none !important;
}

input[type="submit"]:hover,
input[type="submit"]:focus,
.form__search__button:hover,
.form__search__button:Focus,
.form__search__button[type="submit"]:hover,
.form__search__button[type="submit"]:focus,
a.btn--orange-gradient:hover,
a.btn--orange-gradient:focus,
.button--hubspot a:hover,
.button--hubspot a:focus,
a.cta_button:hover,
a.cta_button:focus,
a.btn--orange:hover,
a.btn--orange:focus,
button.btn--orange:hover,
button.btn--orange:focus,
button.load-more-ajax:hover,
button.load-more-ajax:focus,
.btn--orange-gradient:hover,
.btn--orange-gradient:focus,
.btn--light-purple-rd:hover {
	color: #fff !important;
/*	border-bottom: none !important;*/
/*	background-color: #5726df !important;*/
	outline: none !important;
	box-shadow: none !important;
}

.video .video__play-btn:hover:after,
.video .video__play-btn:focus:after {
	color: #ff8300;
	-webkit-transition: color 200ms ease-in-out;
	-moz-transition: color 200ms ease-in-out;
	transition: color 200ms ease-in-out
}
