/* PrismJS 1.15.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript+markup-templating+php */
/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

/* Example & Code Boxes */
.demo-ct {
  padding: 2.5em 2em;
  position: relative;
  border-radius: 6px 6px 0px 0px;
  border: 1px solid #e6e9ee;
  display: block;
  overflow: auto;
  margin-top: 1.25em;
}

.demo-ct::before {
  font-family: "montserrat", Verdana, sans-serif;
  font-size: 11px;
  font-weight: 600;
  content: "EXAMPLE";
  position: absolute;
  top: .5em;
  right: 1em;
  padding: 0;
}

pre::before {
  font-family: "montserrat", Verdana, sans-serif;
  font-size: 11px;
  color: #fff;
  font-weight: 600;
  content: "Code";
  position: absolute;
  top: .6em;
  right: 1em;
  padding: 0;
}

code[class*="language-"],
pre[class*="language-"] {
  color: #ccc;
  background: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  position: relative;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  margin: 0;
  border-radius: 0px 0px 6px 6px;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

}

pre[class*="language-html"]::before {
  content: "HTML";
}

pre[class*="language-css"]::before {
  content: "CSS";
}

/* Code blocks */
pre[class*="language-"] {
  padding: 2em;
  overflow: auto;
  margin-bottom: 2em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #2d2d2d;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em .3em;
  border-radius: .3em;
  white-space: normal;
  background: #e6e9ee;
  color: #3e4545;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999;
}

.token.punctuation {
  color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: #e2777a;
}

.token.function-name {
  color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
  color: #f08d49;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #cc99cd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
  color: #67cdcc;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: green;
}
