/* One Sixth */
.container__one-sixth {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70195%
}

.gl-container > .container__one-sixth {
  width: 16.6666%;
}


/* One Fifth */
.container__one-fifth {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 18.11388%;
}

.gl-container > .container__one-fifth {
  width: 20%;
}


/* One Fourth */
.container__one-fourth {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%
}

.gl-container > .container__one-fourth {
  width: 25%;
}


/* One Third */
.container__one-third {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%
}

.gl-container > .container__one-third {
  width: 33.33%;
}


/* One Half */
.container__one-half {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%
}

.gl-container > .container__one-half {
  width: 50%;
}


/* Two Thirds */
.container__two-thirds {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%
}

.gl-container > .container__two-thirds {
  width: 66.66%;
}


/* Three Fourths */
.container__three-fourths {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%
}

.gl-container > .container__three-fourths {
  width: 75%;
}


/* Four Fifths */
.container__four-fifths {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 79.52847%;
}

.gl-container > .container__four-fifths {
  width: 80%;
}


/* Five Sixths */
.container__five-sixths {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.9404%;
}

.gl-container > .container__five-sixths {
  width: 83.33%;
}


/* Can we remove these classes if not used in LIVE?
.container__one-quarter {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%
}

.container__one-quarter:last-child {
  margin-right: 0
}

.lt-ie9 .container__one-half {
  width: 47%
}

.lt-ie9 .container__one-third {
  width: 28%
}
 */


@media all and (max-width: 50em) {

  .container__one-third {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%
  }

  .container__two-thirds {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%
  }

  .container__two-thirds--with-sidebar {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    padding-right: 0em;
    margin-bottom: 2em
  }

  .container__one-half {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%
  }

  .gl-container > .container__one-third,
  .gl-container > .container__two-thirds,
  .gl-container > .container__one-half {
    width: 100%;
  }

  .gl-container > .container__one-half {
    width: 50%;
  }

  .gl-container > .container__three-fourths {
    width: 75%;
  }
}

@media all and (max-width: 30em) {

  .gl-container > .container__one-fifth,
  .gl-container > .container__four-fifths,
  .gl-container > .container__one-fourth,
  .gl-container > .container__three-fourths {
    width: 100%;
  }

  .container__one-sixth,
  .container__five-sixths {
    width: 100%
  }

  .gl-container > .container__one-sixth,
  .gl-container > .container__five-sixths,
    {
    width: 100%;
  }

  .container__one-fourth {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%
  }

  footer .container__one-third {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%
  }

  .container__three-fourths {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%
  }
}
